body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fundo claro */
    color: #333; /* Cor do texto */
}

header {
    background-color: #C900FF;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Efeito de hover */
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white; /* Fundo branco para se destacar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

h2 {
    color: #4CAF50; /* Cor dos títulos */
}

.info {
    margin-top: 10px;
}

.info img {
    width: 100%;
    max-width: 300px; /* Limita o tamanho das imagens */
    margin: 10px 0; /* Espaçamento entre as imagens */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative; /* Altera o posicionamento do rodapé */
    width: 100%;
    margin-top: 20px; /* Espaçamento acima do rodapé */
}
